/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ 
  ╭─────────────────────╮ ╭─────────────────────╮
  │   !  <   >   -   %  │ │   !  <   >   -   %  │
  │  `   '       _   =  │ │  `   '       _   =  │
  │  ~   [   ]   *   &  │ │  ~   [   ]   *   &  │
  ╰───────╮             │ │             ╭───────╯
          ╰─────────────╯ ╰─────────────╯ 
*/

#define COMBO_CROSS 50
#define COMBO_HORIZONTAL 30

// both hand combos
ZMK_COMBO(stick_shift,  &sk LSHFT,   LM2 RM2, ALL, COMBO_CROSS)


// left hand combos
// upper row
ZMK_COMBO(excl,  &kp EXCL,   LT3 LM2, ALL, COMBO_CROSS)
ZMK_COMBO(lt,    &kp LT,     LT3 LT2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(gt,    &kp GT,     LT1 LT2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(minus, &kp MINUS,  LT1 LM2, ALL, COMBO_CROSS)
ZMK_COMBO(prcnt, &kp PRCNT,  LT1 LT0, ALL, COMBO_HORIZONTAL) 

// middle row
ZMK_COMBO(grave,  &kp GRAVE, LM4 LM3, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(sqt,    &kp SQT,   LM3 LM2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(under,  &kp UNDER, LM1 LM2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(equal,  &kp EQUAL, LM0 LM1, ALL, COMBO_HORIZONTAL)

// bottom row
ZMK_COMBO(tilde,  &kp TILDE, LB3 LM2, ALL, COMBO_CROSS)
ZMK_COMBO(lbkt,   &kp LBKT,  LB3 LB2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(rbkt,   &kp RBKT,  LB2 LB1, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(star,   &kp STAR,  LB1 LM2, ALL, COMBO_CROSS)
ZMK_COMBO(amps,   &kp AMPS,  LB1 LB0, ALL, COMBO_HORIZONTAL)


// right hand combos
// upper row
ZMK_COMBO(caret,  &kp CARET,   RT1 RM2, ALL, COMBO_CROSS)
ZMK_COMBO(lbrc,   &kp LBRC,    RT1 RT2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(rbrc,   &kp RBRC,    RT3 RT2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(dllr,   &kp DLLR,    RT3 RM2, ALL, COMBO_CROSS)
ZMK_COMBO(pipe,   &kp PIPE,    RT3 RT4, ALL, COMBO_HORIZONTAL) 
                            
// middle row         ROW
ZMK_COMBO(hash,   &kp HASH,    RM0 RM1, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(lpar,   &kp LPAR,    RM1 RM2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(rpar,   &kp RPAR,    RM3 RM2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(dqt,    &kp DQT,     RM3 RM4, ALL, COMBO_HORIZONTAL)
                            
// bottom row         ROW
ZMK_COMBO(at,     &kp AT,      RB0 RM1, ALL, COMBO_CROSS)
ZMK_COMBO(bslsh,  &kp BSLSH,   RB1 RB2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(dqt,    &kp DQT,     RB1 RB2, ALL, COMBO_HORIZONTAL)
ZMK_COMBO(kpplus, &kp KP_PLUS, RB2 RB3, ALL, COMBO_HORIZONTAL)



